:root {
    --height-header: 80px;
    --max-width-primary: 1300px;
    --heigth-navigation-pointers: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    min-height: ;
}

/* Header :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
header {
    height: var(--height-header);
    padding: 0px 10px;
    background-color: #20a6ff;
}

.header-content {
    background-color: cadetblue;
    display: flex;
    width: 100%; /* max-width: var(--max-width-primary); */
    height: 100%;
    margin: auto;
}

/* Logo  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 2;
    background-color: #46368d;
}

/* Nav  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
nav {
    background-color: bisque;
    flex-grow: 5;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    gap: 22px;
}

li {
    display: flex;
    
    background-color: #8d8d80;
    justify-content: center;
}

nav a {
    display: flex;
    text-decoration: none;
    background-color: brown;
    align-items: center;
    color: #fff;
    padding: 0 12px;
    border-bottom: 5px solid red;
}

/* Btn-menu  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.btn-menu {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
    background-color: #94741b;
}

/* Main ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
main {
    background-color: rgb(240, 240, 240);
}

section {
    height: 500px;
    margin: auto;
}

/* Banner ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#banner { /* section */
    background-color: #94741b;
    height: calc(100vh - var(--height-header));
    background-image: url(img/b.jpg);
    background-size: cover;
}

#banner .banner-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
    max-width: 80%;
    margin: auto;
    height: 100%;
    
}

.slider {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: var(--max-width-primary);
    height: 100%;
    overflow: idden;
    
}

.slides {
    width: 400%;
    height: calc(100% - var(--heigth-navigation-pointers));
    display: flex;
}



.slide {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s;
}

.slide img {
    height: 70%;
}

.Navigation-pointers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #94741b;
    width: 500px;
    height: var(--heigth-navigation-pointers);
    background-color: #46368d;
}

.Navigation-pointers input {
    display: none;
}

.manual-navigation {
    position: relative;
    width: 800px;
    /* margin-top: -40px; -40px  */
    display: flex;
    justify-content: center;

   background-color: rgba(0, 0, 0, 0.5); /* adicionado
   /* padding: 20px 0; /* adicionado */
   /* border-radius: 6px; /* adicionado */
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) { /* todos, menos no último */
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFF;
}

#radio1:checked ~ .active {
    margin-left: 0;
}

#radio2:checked ~ .active {
    margin-left: -25%;
}

#radio3:checked ~ .active {
    margin-left: -50%;
}

#radio4:checked ~ .active {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    /* position: absolute;
    width: 800px;
    margin-top: 834px; */
    display: flex;
    justify-content: center;
    /*padding: 20px 0; /* adicionado */
    /*border-radius: 6px;  /* adicionado */
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #FFF;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #FFF;
}

/* dark, light, bg      ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.dark { 
    background-color: #1d1d1d;
    color: #f3f3f3;
}

.light {
    background-color: #f3f3f3;
    color: #1d1d1d
}

.dark-bg {
    background-color: ;
}

.light-bg {
    background-color: ;
}

/* Sobre ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#sobre {  /* section */
    
}

.sobre-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

/* Serviços ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#servicos {  /* section */
    
}

.servicos-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

/* Projetos ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#projetos {  /* section */
    
}

.projetos-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

/* Testemunhos :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#testemunhos {  /* section */
    
}

.testemunhos-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

/* Contato :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#contato {  /* section */
    
}

.contato-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

/* Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
footer {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);

}

.footer-bg {

}

.footer-content {
    max-width: var(--max-width-primary);
    margin: auto;
}